@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lovechild';
  src: url('/fonts/Lovechild-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lovechild';
}
.max-w-contain {
  max-width: 30em;
}
@media (max-width: 640px) {
  .max-w-contain {
    padding: 0 1rem;
  }
}
