---
import { ArticleCard } from '@frontends/article-card'
import Layout from '../../components/Layout.astro'

const response = await fetch(
    process.env.WEBINY_READ_URL,
  {
    method: 'POST',
    headers: {
      'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
      'Content-Type' : 'application/json'
    },
    body: JSON.stringify({
      query: `
        {
          listPosts {
            data {
              id
              title
              slug
              description
              body
              publishDate
              shareCard
              tags {
                title
                slug
                description
              }
            }
            error {
              message
            }
          }
        }
      `
    }),
  }
);
const { data } = await response.json();
---
<Layout pageTitle="archive" pageDescription="Archive of all articles published on this blog">
  <main class="max-w-screen-sm mx-auto">
    <div class="my-5">
      <h1 class="text-2xl">Archive</h1>
    </div>
    {data?.listPosts?.data.length ? (
        <div class="grid grid-cols-1 gap-4 py-4">
          {data?.listPosts?.data.map(post => (
            <ArticleCard post={post}/>
          ))}
        </div>
      ) : null}
  </main>
</Layout>
