---
import { ArticleCard } from '../../../../../libs/article-card/src'
import Layout from '../../components/Layout.astro'

interface DataProps {
    listPosts: {
      data: Array<{
        id: string
        title: string
        slug: string
        description: string
        tags: Array<{
          title: string
          slug: string
        }>
      }>
    }
  }

const response = await fetch(
    process.env.WEBINY_READ_URL,
  {
    method: 'POST',
    headers: {
      'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
      'Content-Type' : 'application/json'
    },
    body: JSON.stringify({
      query: `
        {
          listPosts {
            data {
              id
              title
              slug
              description
              tags {
                title
                slug
              }
            }
          }
          listTags {
            data {
              title
              slug
            }
          }
        }
      `
    }),
  }
);
const { data } = await response.json()

const getPostsForTag = (currentTag => {
  return data.listPosts.data.map(post => {
    if(!post.tags.some(tag => JSON.stringify(tag) === JSON.stringify(currentTag))) {
      return null
    }
    return post
  })
})

const sortedPosts = data.listTags.data.reduce((acc, curr) => {
  const posts = getPostsForTag(curr)
  if(posts) {
    acc.push({
      title: curr.title,
      slug: curr.slug,
      posts: posts
    })
  }
  return acc
 }, [])

 console.log('sortedPosts: ', sortedPosts)

---
<Layout pageTitle="archive" pageDescription="Archive of all articles published on this blog">
  <main class="container max-w-screen-sm">
    <div class="my-5">
      <h1 class="text-2xl">All tags:</h1>
    </div>
  </main>
</Layout>
