---
import { ArticleCard } from '@frontends/article-card'
import Layout from '../../components/Layout.astro'

const response = await fetch(
    process.env.WEBINY_READ_URL,
  {
    method: 'POST',
    headers: {
      'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
      'Content-Type' : 'application/json'
    },
    body: JSON.stringify({
      query: `
        {
          listArticles(sort: firstPublishedDate_DESC) {
            data {
              id
              title
              slug
              description
              body
              firstPublishedDate
              categories {
                category
                slug
                description
              }
            }
            error {
              message
            }
          }
        }
      `
    }),
  }
);
const { data } = await response.json();
---
<Layout pageTitle="archive" pageDescription="Archive of all articles published on this blog" slug="posts">
    <h1 class="text-4xl">Archive</h1>
    {data?.listArticles?.data.length ? (
        <div class="grid grid-cols-1 gap-4 py-4">
          {data?.listArticles?.data.map(post => (
            <ArticleCard post={post} postPrefix="post" categoryPrefix="category" />
          ))}
        </div>
      ) : null}
</Layout>
