---
import Layout from '../components/Layout.astro';
import Image  from '../assets/404.png';
---
<Layout title="Page not found">
	<h1>Page not found</h1>
	<img src={Image} alt="Voice of the Resistence Susan Ivonava announcing" />
	<p>Absolutely nothing happened in Sector 404 today. I repeat, absolutely nothing happened in sector 404.</p>
	</Layout>