---
import Layout from '../components/Layout.astro'
import { ArticleCard } from '@frontends/article-card';

export interface Article {
  id: string;
  title: string;
  slug: string;
  description: string;
  firstPublishedDate: string;
}

const response = await fetch(
    process.env.WEBINY_READ_URL as string,
  {
    method: 'POST',
    headers: {
      'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
      'Content-Type' : 'application/json'
    },
    body: JSON.stringify({
      query: `
        {
          listArticles {
            data {
              id
              title
              slug
              description
              firstPublishedDate
            }
          }
        }`
    }),
  }
);
const { data } = await response.json()
---
<Layout pageTitle="home">
  <div class="container grid gap-4">
      {data?.listArticles?.data.length ? (
        <div class="w-3/4">
          {data?.listArticles?.data.map((article: Article) => (
            <ArticleCard post={{ publishDate: article.firstPublishedDate, ...article }} />
            <hr class="border border-b-2 border-b-gray-300" />
          ))}
        </div>
      ) : null}
      <div class="w-1/4">
        sidebar
      </div>
    </div>
</Layout>
