---
import Layout from '../components/Layout.astro'

const response = await fetch(
    process.env.WEBINY_READ_URL,
  {
    method: 'POST',
    headers: {
      'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
      'Content-Type' : 'application/json'
    },
    body: JSON.stringify({
      query: `
        listArticles(limit: 200, sort: publishDate_DESC) {
          data {
            id
            title
            slug
            description
            categories {
              title
              slug
              description
            }
          }
        }
      }`
    }),
  }
);
const { data } = await response.json()

---
<Layout pageTitle="home">
    {JSON.stringify(data)}
      <p class="mb-2 text-lg">Delicious Reverie is the personal home of <a class="underline" href="/about-benjamin-read">Benjamin Read</a> on the web.</p>
      <p class="mb-4 text-lg">I'm an experienced <strong>Developer Relations</strong> product evangelist and community builder, a Senior <strong>JavaScript Software Engineer</strong> with experience of FinTech and PropTech, and a literature buff.</p>
      <a class="btn btn-primary normal-case mb-6" href="/about-benjamin-read">More about me</a>
      <h2 class="text-3xl mt-8 tracking-wide">⚙ Recent posts about engineering:</h2>
      <!-- {data?.listArticles?.data.length ? (
        <div class="grid grid-cols-1 gap-4">
          {data?.listArticles?.data.map(post => (
            <ArticleCard post={post}/>
          ))}
        </div>
      ) : null} -->
</Layout>
