---
import Layout from '../components/Layout.astro'
import Ivonova from '../components/404-image.jpg'
---
<Layout pageTitle="Not found" slug="404">
      <h1 class="text-2xl mb-4">This page wasn't found</h1>
      <img src={Ivonova} alt="Susan Ivonova from Babylon 5"/>
      <p class="mb-2">Absolutely nothing happened in sector 404 today. I repeat, absolutely nothing happened in sector 404.</p>
</Layout>
