---
import Layout from '../components/Layout.astro'
import Adventure from '../components/adventure/Adventure.astro'
---
<Layout pageTitle="home">
      <h1 class="text-4xl">Adventure</h1>
      <p class="mb-4 text-lg">Welcome to one of the most groundbreaking video games ever made. It's one I used to play endlessly as a kid, and I still didn't discover the easter egg.</p>
      <p class="mb-4 text-lg">If you haven't guessed already, this is <a class="underline" href="https://en.wikipedia.org/wiki/Adventure_(1980_video_game)">Adventure</a>, by <a class="underline" href="http://warrenrobinett.com/">Warren Robinett.</a></p>
      <p  class="mb-4 text-lg">Press "game select" or F11 then "game reset" or F12 to choose a level.</p>
      <Adventure />
</Layout>
