---
import Layout from '../components/Layout.astro'
import Adventure from '../components/adventure/Adventure.astro'
---
<script src="../src/components/adventure/javatari.js" type="module"></script>

<Layout pageTitle="home">
      <p class="mb-2 text-lg">Delicious Reverie is the personal home of <a class="underline" href="/about-benjamin-read">Benjamin Read</a> on the web.</p>
      <p class="mb-4 text-lg">I'm an experienced <strong>Developer Relations</strong> product evangelist and community builder, a Senior <strong>JavaScript Software Engineer</strong> with experience of FinTech and PropTech, and a literature buff.</p>
      <Adventure />
</Layout>
