---
import { ArticleCard } from '@frontends/article-card'
import Layout from '../components/Layout.astro'

const response = await fetch(
    process.env.WEBINY_READ_URL,
  {
    method: 'POST',
    headers: {
      'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
      'Content-Type' : 'application/json'
    },
    body: JSON.stringify({
      query: `
        {
          listPosts(limit: 5, sort: publishDate_DESC) {
            data {
              id
              title
              slug
              description
              body
              publishDate
              shareCard
              tags {
                title
                slug
              }
            }
            error {
              message
            }
          }
        }
      `
    }),
  }
);
const { data } = await response.json();
---
<Layout pageTitle="home">
      <h2 class="text-4xl">Thanks for popping round!</h2>
      <p class="mb-2">Delicious Reverie is a blog mostly about web development and JavaScript engineering. But it's my personal playground and learning journal too. I hope you find something that inspires or helps you.</p>
      <p class="mb-4"><a href="/contact">Drop me a message</a> if you'd like to say hi, if you're looking for some help, or if I got something wrong.</p>
      <h2 class="text-xl">Latest 5 Posts:</h2>
    {data?.listPosts?.data.length ? (
        <div class="grid grid-cols-1 gap-4 py-4">
          {data?.listPosts?.data.map(post => (
            <ArticleCard post={post}/>
          ))}
        </div>
      ) : null}
</Layout>
