---
import { ArticleCard } from '@frontends/article-card'
import Layout from '../components/Layout.astro'

const response = await fetch(
    process.env.WEBINY_READ_URL,
  {
    method: 'POST',
    headers: {
      'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
      'Content-Type' : 'application/json'
    },
    body: JSON.stringify({
      query: `
        {
          listPosts(limit: 5, sort: publishDate_DESC) {
            data {
              id
              title
              slug
              description
              body
              publishDate
              shareCard
              tags {
                title
                slug
              }
            }
            error {
              message
            }
          }
        }
      `
    }),
  }
);
const { data } = await response.json();
---
<Layout pageTitle="home">
      <p class="mb-2">Delicious Reverie is the personal home of <a class="underline" href="/about-benjamin-read">Benjamin Read</a> on the web.</p>
      <p class="mb-4">I'm an experienced <strong>Developer Relations</strong> product evangelist and community builder, a Senior <strong>JavaScript Software Engineer</strong> with experience of FinTech and PropTech, and a literature buff.</p>
      <a class="btn btn-primary normal-case mb-6" href="/about-benjamin-read">Find out more about me</a>
      <h2 class="text-2xl">Latest 5 Posts:</h2>
    {data?.listPosts?.data.length ? (
        <div class="grid grid-cols-1 gap-4">
          {data?.listPosts?.data.map(post => (
            <ArticleCard post={post}/>
          ))}
        </div>
      ) : null}
</Layout>
