---
import Layout from "../components/Layout.astro";


---
<Layout pageTitle="search">
  <div id="search"></div>
</Layout>

<script client:load>
  // Make resultsDrawer and searchInput global so it can renew state when pagefind object is destroyed and recreated.
  // Initialize pagefind searchbar.
  new PagefindUI({ element: "#search", showImages: false });
</script>
