---

interface Props {
  menuItems: Array<{
    title: string,
    link: string
  }>;
  logo?: string;
  title: string;
  subtitle: string;
}

const {menuItems, logo, title, subtitle } = Astro.props;
---
<header class="navbar bg-base-100 rounded-md mt-2">
  <div class="flex-none">
    <div>
      <a class="btn btn-ghost normal-case text-xl hover:bg-white hover:text-slate-800">
      {logo ? <img src={logo}> : <span>{title || null}</span>}
    </a>
    {subtitle && <p class="text-base">{subtitle}</p>}
  </div>
    </div>
  <div class="flex-1 items-end">
    {menuItems?.length ? (
      <ul>
        {menuItems.map(item => (
          <li class="text-base"><a class="btn btn-ghost" href={item.link}>{item.title}</a></li>
        ))}
      </ul>
    ): null }
  </div>
</header>
