---

interface Props {
  menuItems: Array<{
    title: string,
    link: string
  }>;
  logo?: string;
  title: string;
  subtitle: string;
}

const {menuItems, logo, title, subtitle } = Astro.props;
---
<header class="bg-accent">
  <div class=" max-w-screen-md mx-auto">
    <div class="header--top py-11 px-4 text-white">
      <a class="header--logo normal-case text-xl hover:text-underline">
      {logo ? (
        <img class="w-4/5" src={logo}>
        ) : (
          <span class="font-display">{title || null}</span>
      )}
      </a>
      {subtitle && <p class="font-display text-2xl">{subtitle}</p>}
    </div>
  </div>
  <div class="navbar max-w-screen-md mx-auto flex-1 justify-start">
    {menuItems?.length ? (
      <ul class="header--navigation">
        {menuItems.map(item => (
          <li class="text-white">
            <a class="btn btn-ghost normal-case" href={item.link}>{item.title}</a>
          </li>
        ))}
      </ul>
    ): null }
  </div>
</header>
